html, body {
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    letter-spacing:normal;
    background-color: #dfd4c3;
}

button {
    letter-spacing: normal;
}

h1 {
    font-weight: 600;
    font-size: 1.3rem;
}
h2 {
    font-size: 1.1rem;
    font-weight: 300;
}

main {
    margin-left: 25%;
    padding: 1em 2em 0;
}

legend {
    font-size: 1.2rem;
    letter-spacing: normal;
}

#control-sidebar {
    background: cornflowerblue none repeat scroll 0 0;
    bottom: 0;
    position: fixed;
    top: 0;
}

#button, #buttons {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
}

#question_form, #login, #login {
    width: 60%;
    margin: 0 auto;
}

#login {
    text-align: center;
}

.header1 {
    margin-left: 1.0em;
}

.error {
    color: red;
}

.sidebar {
    box-sizing: border-box;
    padding-left: 1ex;
}

@media screen and (min-width: 48em) {
    .sidebar h1 {
        text-align: center;
    }
}

.pure-button-primary, .pure-button {
    background-color: #4d1717;
    color: white;
}

.blog-index h1 {
    font-size: 1.1rem
}

.question {
    background-color: cornsilk;
    margin: 1em;
    padding: 1em;
}

.answer {
    background-color: thistle;
    margin: 1em;
    padding: 1em;
}

.side-buttons {
    margin-bottom: 10%;
    max-width: 100%;
}

.upvote {
    font-family: FontAwesome;
    display: inline-block;
    cursor: pointer;
}

.upvote[data-state="checked"]::after {
    content: "\f164"; /* closed thumbs-up */
}

.upvote[data-state="unchecked"]::after {
    content: "\f087"; /* open thumbs-up */
}

.downvote {
    font-family: FontAwesome;
    display: inline-block;
    cursor: pointer;
}

.downvote[data-state="checked"]::after {
    content: "\f165"; /* closed thumbs-up */
}

.downvote[data-state="unchecked"]::after {
    content: "\f088"; /* open thumbs-up */
}