{% extends 'base.html' %}
{% block content %}
    <main class="chatwindow joined" data-key={{ room }} data-nick={{ name }}>
        <div class="chat">
            <h1 class="topic" id="room">{{ topic }}</h1>
            <ul class="chat-messages" id="messages"></ul>

            <form class="chat-input" action="" id="chatform">
                <label for="message">Chat:</label>
                <input id="message" type="text" name="message">
                <button class="pure-button pure-button-primary" type="submit">send</button>
            </form>
        </div>
        <div class="roster">
            <ul class="roster-list">
                {% for user in roster %}
                    <li>{{ user }}</li>
                {% endfor %}
            </ul>
        </div>
    </main>
     <script src="{{ url_for('static', filename='chat.js') }}" async></script>
{% endblock %}