{% extends 'base.html' %}
{% block content %}
    <main class="chatwindow unjoined">
        <div class="chat">
            <h1 class="topic">{{ topic }}</h1>
            <div class="join">
                <form class=" pure-form join-form action=/<room>" method="POST">
                    <label for="join-nick">Nickname:</label>
                    <input type="text" name="nick" id="join-nick" autofocus>
                    <button type="submit" class="pure-button pure-button-primary">Join!</button>
                </form>
            </div>
        </div>
        <div class="roster">
            <ul class="roster-list"></ul>
        </div>
    </main>
{% endblock %}
