{% extends 'base.html' %}
{% block content %}
    {% if error %}
        <p id="error">{{error}}</p>
    {% endif %}
    <h1 id="header">Welcome to Connect Four!</h1>
    <h2 id="userformheader">What's your name?</h2>
    <form action="/submit-name" id="userform" method="post">
        <br>
        Username:
        <br>
        <input type="text" name="username" id="username">
        <br>
        <br>
        Email:
        <br>
        <input type="email" name="email" id="email">
        <br>
        <br>
        <button type="submit" class="pure-button pure-button-primary" id="submitbutton">Submit</button>
        <br>
        <br>
    </form>
{% endblock %}

