{% extends 'base.html' %}
{% block title %}Edit profile{% endblock %}
{% block content %}

      <div class="pure-g">
        <form method="POST" action="/edit_profile" class="pure-form pure-form-stacked pure-u-1 pure-u-md-1-2">
          <input type="hidden" name="_csrf_token" value="{{ session.csrf_token }}">
            <label for="edit-location">Location</label>
                <input type="text" name="location" id="edit-location">
            <label for="edit-bio">Bio</label>
                <textarea name="bio" rows="10" cols="30" id="edit-bio" placeholder="Getting to know yoooouuu!"></textarea>
            <button type="submit" class="pure-button pure-button-primary">Edit Profile</button>
        </form>
      </div>
{% endblock %}