{% extends 'base.html' %}
{% block title %}FollowMe{% endblock %}
{% block content %}
    {% if session.auth_user %}
       <div class="user-profile">
       <article>
            <img class="avatar" src="https://www.gravatar.com/avatar/{{ user.grav_hash }}">
            <strong>{{ user.name }}</strong><br>
            {% if user.location != None %}
                {{ user.location }}
            {% endif %}
            <div class="bio">
              {% if user.bio != None %}
              {{ user.bio }}
              {% endif %}
            </div>
       </article>
        </div>
      <br>

            <form id="post-form" class="pure-form pure-form-stacked">
                <label for="post"></label>
                    <textarea id="post-text" name="post" rows="10" cols="30" maxlength="256" placeholder="Whats on your mind?"></textarea>
                <br>
                <label for="url"></label>
                    <textarea id="url-text" name="url" rows="1" cols="50" placeholder="Submit a link about your post too if you have one!"></textarea>
                <br>
               <button type="submit" class="widget post-button pure-button pure-button-primary" id="post-button" data-state="ready">Post!</button>
            </form>

        <h2>Posts:</h2>
          <div id="timeline">
          {% if posts %}
            {%  for post in posts %}
               <article class="post">
               {% if post.Post.photo != None %}
                 <img class="photo" id="posted-photo" src="{{ url_for('photo_sender', photo_id=post.Post.id) }}">
               {% endif %}
                   {{ marked_posts[post.Post.id] }}
                   <br>
                   {% if post.Post.url != '' %}
                       <br><a href="{{ post.Post.url }}">{{ post.Post.url }}</a><br>
                   {% endif %}
                  <div class="author-info">
                  <img class="post-avatar" src="https://www.gravatar.com/avatar/{{ post.Post.creator.grav_hash }}">
                 by <a href="/u/{{ post.Post.creator.name }}">{{ post.Post.creator.name }}</a><br> at &nbsp;{{ post.Post.timestamp }}
                  </div>
               </article>
            {% endfor %}
          {%  endif %}
          </div>
    {%  else %}
        {% if posts %}
            {%  for post in posts %}
                 <article class="post">
                 {% if post.photo != None %}
                   <img class="posted-photo" src="{{ url_for('photo_sender', photo_id=post.id) }}">
                 {% endif %}
                 {{ marked_posts[post.id] }}
                 {% if post.url != '' %}
                     <br><a href="{{ post.url }}">{{ post.url }}</a><br>
                 {% endif %}
                 <div class="author-info">
                 <img class="post-avatar" src="https://www.gravatar.com/avatar/{{ post.creator.grav_hash }}">
                   by <a href="/u/{{ post.creator.name }}">{{ post.creator.name }}</a><br> at &nbsp;{{ post.timestamp }}
                 </div>
                 </article>
            {% endfor %}
        {%  endif %}
    {%  endif %}
      <script type="application/javascript" src="/static/post.js"></script>
{% endblock %}