{% extends 'base.html' %}
{% block title %}FollowMe{% endblock %}
{% block content %}
    <legend><strong>Log In</strong></legend>
    {% if state == 'bad' %}{# detect if we need to show the error message #}
        <p class="error">Invalid user name or password.</p>
    {% elif state == 'bad-username' %}
        <p class="error">Invalid username.</p>
    {% elif state == 'password-mismatch' %}
        <p class="error">Passwords don't match.</p>
    {% elif state == 'username-used' %}
        <p class="error">Username already taken.</p>
    {% endif %}
    <div class="pure-g">

    <form method="POST" action="/login" class="pure-form pure-form-stacked pure-u-1 pure-u-md-1-2">
        <input type="hidden" name="url" value="{{ request.args.url }}">
        <label for="login-user">Name</label>
        <input type="text" name="name" id="login-user">
        <label for="login-password">Password</label>
        <input type="password" name="password" id="login-password">
        <button type="submit" class="pure-button pure-button-primary">Log In</button>
    </form>

    <form method="POST" action="/create_user" class="pure-form pure-form-stacked pure-u-1 pure-u-md-1-2">

        <strong>Create Account</strong>
        <input type="hidden" name="url" value="{{ request.args.url }}">
        <label for="create-user">Name</label>
        <input type="text" name="name" id="create-user" maxlength="50">
        <label for="create-email">Email</label>
        <input type="text" name="email" id="create-email" maxlength="100">
        <label for="create-password">Password</label>
        <input type="password" name="password" id="create-password">
        <label for="create-confirm">Confirm Password</label>
        <input type="password" name="confirm" id="create-confirm">
        <button type="submit" class="pure-button">Create Account</button>
    </form>

    </div>
{% endblock %}