
.chatwindow {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.chat .join, .chatwindow .chat-messages {
    position: absolute;
    top: 32px;
}
.chat {
    height: 100%;
    position: absolute;
    width: 80%;
}
.roster {
    height: 100%;
    position: absolute;
    right: 0;
    width: 20%;
}
.chat .topic {
    font-size: 20px;
    height: 32px;
    position: absolute;
}
.chatwindow .chat-messages {
    background: #eee none repeat scroll 0 0;
    bottom: 32px;
    left: 0;
    right: 0;
    width: 100%;
}
.chatwindow .chat-input {
    bottom: 0;
    display: flex;
    height: 32px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}
.chat-input input {
    flex: 1 1 0;
}
.joined .join, .unjoined .chat-input, .unjoined .chat-messages {
    display: none;
}
.chat-messages li {
    display: block;
}
.chat-messages .joined {
    font-style: italic;
}
