{% extends 'base.html' %}
{% block title %} The Books of Queen Elizabeth {% endblock %}
{% block content %}
    <div class="intro">
        <h3>There have been a lot of book written about England's Famous Queen</h3>
        <p>With over {{ numOfbooks }} books written about her.</p>
        <p> And over {{ edition_count }} editions.</p>
        <p>Written by over {{ numOfauthors }} authors.</p>
    </div>

    <div class="links">
        <a href="/authors">The Authors</a>
        <a href="/books">The Books</a>
    </div>
    
    <div><img class="image" src="static/Elizabeth_I_when_a_Princess.jpg"></div>
{% endblock %}

