{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 class="header1">Q&A</h1>
    {% for q in questions %}
        <article class="question">
        <h1><a href="/questions/{{ q.id }}">{{ q.subject }}</a></h1>
        <h2>Asked on {{ q.date_asked }} by {{ q.creator.login}}</h2>
        <p>{{ content[q.id] }}</p>
        {# we use a 'joiner' to make a comma-separated list #}
        {% set comma = joiner(', ') %}
        <p>Tagged with:
            {% for tag in q.tags %} {{ comma() }}
                <a href="{{ url_for('show_tag', tag=tag.tag) }}"> {{ tag.tag }}</a>
            {% endfor %}
        </p>
        <p class="number-of-answers">{{ q.answers|length }} answers</p>
        </article>
    {% endfor %}
  {% if pid > 1 %}
    <p><a href="/{{ pid - 1 }}">Previous page </a></p>
  {% endif %}
  {% if pid < lastpage %}
    <p><a href="/{{ pid + 1 }}">Next page</a></p>
  {% endif %}
{% endblock %}