{% extends 'base.html' %}
{% block title %}Ask a question{% endblock %}
{% block content %}
  {% if state == 'bad-subject' %}
    <p class="error">Subject too long.</p>
  {% elif state == 'bad-question' %}
    <p class="error">Question too long.</p>
  {% endif %}

    <div id="question_form">
        <form method="POST" action="/add-question" class="pure-form pure-form-stacked">
            <fieldset>
              <input type="hidden" name="_csrf_token" value="{{ session.csrf_token }}">
            <label for="subject">Subject: </label>
            <input type="text" name="subject" placeholder="Subject">
            <label for="content">Question: </label>
            <textarea name="content" rows="10" cols="30" placeholder="Write your question here!"></textarea>
            <label for="tags">Tags (comma-separated):</label>
            <input type="text" name="tags" id="tags">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </fieldset>
        </form>
    </div>
{%  endblock %}