{% extends 'base.html' %}
{% block title %}Question {{ question.id }}{% endblock %}
{% block content %}

    <script>$("#foo").text("Hello!");</script>
    <p class="header1"><a href="/">Back to index</a></p>
    <article class="question">
    <h1>{{ question.subject }}</h1>
    <h2>Asked on {{ question.date_asked }} by {{ question.creator.login }}</h2>
    <p>{{ content }}</p>
    {# we use a 'joiner' to make a comma-separated list #}
    {% set comma = joiner(', ') %}
    <p>Tagged with:
        {% for tag in question.tags %} {{ comma() }}
            <a href="{{ url_for('show_tag', tag=tag.tag) }}"> {{ tag.tag }}</a>
        {% endfor %}
    </p>
    </article>
        <div class="header1">
        {% if session.auth_user %}
            <form method="POST" action="/add-answer" class="pure-form pure-form-stacked">
                <fieldset>
                  <input type="hidden" name="_csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="qid" value="{{ question.id }}">
                <label for="content">Answer: </label>
                <textarea name="content" rows="10" cols="50" placeholder="Write your answer here!"></textarea>
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </fieldset>
            </form>
        {% endif %}
        </div>

        {% for answer in answers|sort(attribute='upvotes', reverse=True) %}
            <article class="answer" data-answer-id="{{ answer.answer.id }}">
                <h1>Answer by {{ answer.answer.creator.login }}</h1>
                <p>{{ marked_answers[answer.answer.id] }}</p>
                <p>Answer score: <span id="score{{ answer.answer.id }}">{{ answer.upvotes }}</span></p>
              {% if session.auth_user %}
               {# The 'if else' expression is like '?:', lets us put in checked or unchecked #}
               <p><span class="widget upvote" id="up{{ answer.answer.id }}" data-state="{{ "checked" if upvoted[answer.answer.id] else "unchecked" }}" data-aid="{{ answer.answer.id }}"></span></p>
               <p><span class="widget downvote" id="down{{ answer.answer.id }}" data-state="{{ "checked" if downvoted[answer.answer.id] else "unchecked" }}" data-aid="{{ answer.answer.id }}"></span></p>
               {% endif %}
            </article>
        {% endfor %}
    <script type="application/javascript" src="{{ url_for('static', filename='votes.js') }}"></script>
{% endblock %}