{% extends 'template.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <!-- Play's full title as a level one heading -->
    <h1>{{ full_title }}</h1>

    <!-- Hyperlinks to the previous and next scene -->
    {% if scene_pos > 0 %}
        <span>&nbsp;<&nbsp;</span>
        <a href= "/plays/{{ play}}/act/{{ scenes[scene_pos - 1]['act'] }}/scene/{{ scenes[scene_pos - 1]['scene'] }}">
            Act {{ scenes[scene_pos - 1]['act'] }}  Scene {{ scenes[scene_pos - 1]['scene'] }}</a>
    {%  endif %}
    <span>&nbsp;|&nbsp;</span>
    {% if scene_pos < scenes|length-1 %}
        <a href= "/plays/{{ play}}/act/{{ scenes[scene_pos + 1]['act'] }}/scene/{{ scenes[scene_pos + 1]['scene'] }}">
            Act {{ scenes[scene_pos + 1]['act'] }}  Scene {{ scenes[scene_pos + 1]['scene'] }}</a>
        <span>&nbsp;>&nbsp;</span>
    {%  endif %}

    <!-- A level-2 heading with the act and scene number -->
    <h2>Act:&nbsp;{{ scenes[scene_pos]['act'] }}&nbsp;Scene:&nbsp;{{ scenes[scene_pos]['scene'] }}</h2>

    <!--The scene's setting -->
    <p>Setting:&nbsp;{{ setting }}</p>

    <!-- blocks/speeches in the play -->
    {% for block in blocks %}
        <div>
            <p>Speaker:&nbsp
                <a href="/characters/{{ block.speaker}}">{{ block.speaker }}</a>
            </p>
        </div>

        <div>
            {% for line in block.lines %}
                <!-- Lines that are enclosed in square brackets (‘[…]’) should be displayed in italics -->
                {% if line[0] is equalto "[" %}
                    <i>{{ line | replace("[","") | replace("]", "")}} {% if not loop.last %} {% endif %}</i><br>
                {%  else %}
                    {{ line }} {% if not loop.last %} {% endif %}<br>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

