html {
    font-size: 15pt;
    line-spacing: 1.4;
}
main {
    max-width: 40em;
    margin: 0 auto;
}
body {
    background: #e0e9fb;
}

#error {
    color: white;
    background: red;
    margin: 0;
    text-align: center;
    padding: 10px;
}
#header {
    text-align: center;
}
#userformheader {
    text-align: center;
}
#userform {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: cornflowerblue;
}
#submitbutton {
    background: #283b5e;
    transition-duration: 0.4s;
}
#submitbutton:hover {
    background: #5077bd;
}

/*game room css*/
.shell {
    margin-left: 30%;
}
#board {
    /* this merges adjacent cell borders! */
    border-collapse: collapse;
    background: #ffe75a;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
#board .cell {
    /* big letters */
    font-family: "Avant Garde", sans-serif;
    font-size: 40px;
    /* center the letters */
    text-align: center;
    vertical-align: middle;
    /* make the cells nice and big */
    width: 64px;
    height: 64px;
    padding: 5px;
}

#board .cell.x, #board .cell.o {
    /* used cells have not-allowed */
    cursor: not-allowed;
}
#board .cell.winning {
    background-color: green;
}

.piece {
    border-radius: 50px;
    height: 60px;
    width: 60px;
    border: 1px solid black;
    background: white;
    vertical-align: middle;
    /* empty slots are pointerable */
    cursor: pointer;
}

.piece.x {
    background: midnightblue;
}

.piece.y {
    background: firebrick;
}

/*rematch and new game buttons*/
/*#rematchbutton {*/
    /*margin-left: 30.9%;*/
    /*width: 150px;*/
/*}*/
#rematchbutton, #newgamebutton {
    background: #283b5e;
    transition-duration: 0.4s;
}
#rematchbutton:hover, #newgamebutton:hover {
    background: #5077bd;
}
#quit-button {
    background:#283b5e;
    transition-duration: 0.4s;
}
#quit-button:hover {
    background:#5077bd;
}

/*chatroom css*/
#chatbox {
    width: 300px;
    background: #283b5e;
    height: 100%;
    position: fixed;
    top: 0;
    color: white;
}
#chatheader {
    text-align: center;
}
.chat-input {
    position: fixed;
    bottom: 1%;
    width: 100%;
    margin-left: 10px;
}
#messages {
    background: cornflowerblue;
    height: 80%;
    position: fixed;
    margin: 0;
    width: 260px;
    top: 10%;
    color: black;
    overflow: scroll;
}
#messages li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
#message {
    width: 200px;
    color: black;
    border-radius: 5px;
    background: #eff4fd;
}
#chatbutton {
    width: 70px;
    color: black;
}

/*waiting room css*/
#waitingroom-wrapper h1 {
    text-align: center;
}
.avatar {
    margin-left: 50%;
}
#join-button {
    background: #283b5e;
    margin-left: 48%;
    transition-duration: 0.4s;
}
#join-button:hover {
    background: #5077bd;
}

#join-button:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
}

#game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
    z-index: 1;
}

.overlay-box {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -15%;
    margin-left: -150px;
    background-color: palegreen;
    text-align: center;
    z-index: 2;
}